<header>
    <div class="mainLogo">
        <span>#MyWishList</span>
    </div>
    <div class="topMenus">
        <nav>
            <a href="#">My Wish List</a>
            <a href="#">Statistics</a>
            <a href="#">#</a>
            <a href="#">#</a>
        </nav>
    </div>
</header>