block header
    header
        div.mainLogo
            span #MyWishList
        div.topMenus
            nav
                a(href="#") My Wish List
                a(href="#") #
                a(href="#") #
                a(href="#") #